#overlay-style {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
}

#modal-style {
    position: fixed;
    min-height: 10rem;
    //height: 9rem;
    top: 50%;
    left: 50%;
    color: #1e3a5b;
    background-color: #FFF;
    line-height: 1rem;
    transform: translate(-50%, -50%);
    padding: 0.8rem;
    z-index: 1000;
    border-radius: 8px;
    .closing-icon {
        position: absolute;
        top: 0;
        // left: 16rem;
        right: -0.4rem;
         :hover {
            background-color: #1e3a5b;
            color: white;
            border-radius: 8px;
        }
    }
    h1 {
        line-height: 1.2;
    }
}