.Que-table {
   // height: 33rem;
     // max-width: 17%;
    //width: 9rem;
    overflow-y: scroll !important;
    height: 100%;
    max-height: 80vh;
    max-width: 11rem;
    .MuiCardContent-root {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .MuiCardHeader-root {
        padding: 0%;
    }
    .chip{
        min-width: 34px;
        width: 36px;
        border-radius: 3rem;
        margin: 0.3rem;
    }
}