.coding-question {
    margin-top: .6rem ;
    .Resizer {
        position: relative;
        background: gray;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
    }
    
    .Resizer.horizontal {
        height: 11px;
        margin: -5px 0;
        border-top: 5px solid rgba(255, 255, 255, 0);
        border-bottom: 5px solid rgba(255, 255, 255, 0);
        cursor: row-resize;
        width: 100%;
    }
    
    .Resizer.vertical {
        width: 15px;
        margin: 0 -5px;
        border-left: 5px solid rgba(255, 255, 255, 0);
        border-right: 5px solid rgba(255, 255, 255, 0);
        cursor: col-resize;
    }
    .Pane2 {
        overflow-y: scroll;
        // background-color: red;
        @media (min-width: 900px) {
            .editor-container {
                max-width: 99%;
            }
        }
    }
    .SplitPane.vertical {
        width: 100%;
        height:90vh !important;
    }
    
    .Resizer.disabled {
        cursor: not-allowed;
    }
    .Resizer.disabled:hover,
    .Resizer.disabled:active {
        border-color: transparent;
    }
    .Resizer::after,
    .Resizer::before {
        content: "";
        border-left: 1px solid #333;
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        right: 0;
        display: inline-block;
        // overflow: visible;
        height: 20px;
        margin: 0 2px;
    }
    .Resizer::before {
        left: 0;
    }
    .MuiOutlinedInput-root {
        color: #4caf50;
    }
    .scroll-bar {
        //background-color: red;
        overflow-y: scroll;
        /* width */
    }
}